@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: "Akkurat Mono";
  src: url("Akkurat-Mono.OTF");
}

body {
  font-family: "Helvetica";
  line-height: 1.3;
}

#container {
  width: 70%;
  padding-bottom: 35px;
}

#container input, #container button {
  font-family: "Major Mono Display";
  border: none;
}

#container textarea {
  font: 14px "Akkurat Mono";
  border: none;
  width: 100%;
  height: 100px;
}

#container img {
  width: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  border: 20px solid #eee;
}

pre code {
  font: 14px "Akkurat Mono";
  white-space: pre-wrap;
  line-height: 1.3;
  height: 162px;
  overflow-y: scroll;
}

code {
  font-family: "Akkurat Mono";
}

blockquote {
  font-family: "Akkurat Mono";
  margin-left: 0;
  border-left: 10px solid #222222;
  padding-left: 10px;
}
.date {
  font-family: "Major Mono Display";
  font-style: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.date::before {
  content: "•";
}

.source {
  margin-bottom: 0;
}

.tags, .source strong {
  font-family: "Major Mono Display";
  font-size: 14px;
}

ul {
  padding-left: 1rem;
  margin: 0;
}

.date::after, .tags::after {
  content: "|";
  font-weight: normal;
  animation: blink 1s infinite;
}

#navbar, #back-trigger {
  background-color: #084177;
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  right: 8px;
  bottom: 8px;
  overflow: hidden;
  z-index: 10;
}

#back-trigger {
  z-index: 7;
  white-space: nowrap;
  transition: all 1s ease;
  opacity: 0;
  overflow: hidden;
}

#navbar li {
  padding: 5px;
  display: inline;
}

#navbar li a, #back-trigger a {
  font: bold 25px "Major Mono Display";
  text-decoration: none;
  color: #fff;
}

#back-trigger a {
  font-size: 20px;
}

 /* The side navigation menu */
.sidenav {
  font-family: "Major Mono Display";
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 6; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #084177;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 12px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #999999;
  display: block;
  transition: 0.3s;
}

.sidenav input {
  font: bold 14px "Major Mono Display";
  margin-left: 5%;
  width: 80%;
  background-color: #fff;
  padding: 8px;
  border: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

form {
  background-color: #fff;
  padding: 5px 3px;
  z-index: 5;
}