@media screen and (max-width: 500px) and (min-width: 100px) {
	.container {
		width: calc(100% - 8px);
	}

	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	.sidenav input {width: 16.5rem;}
}

@media screen and (max-height: 400px) and (min-height: 50px) {
	.container {
		width: calc(100% - 8px);
	}

	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	.sidenav input {width: 80%;}
}