@media screen and (max-width: 500px) and (min-width: 100px) {
	body {
		overflow-y: scroll;;
	}
	
	.container {
		width: calc(100% - 8px);
	}

	.container img {
		max-width: 98%;
		border: 3px solid #eee;
	}

	body, pre code, #container input, #container textarea {
		font-size: 14px;
	}

	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	.sidenav input {width: 80%;}
}

@media screen and (max-height: 400px) and (min-height: 50px) {
	body {
		overflow-y: scroll;;
	}

	body, pre code, #container input, #container textarea {
		font-size: 14px;
	}

	.container {
		width: calc(100% - 8px);
	}

	
	.container img {
		max-width: 98%;
	}

	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	.sidenav input {width: 80%;}
}